body{
	color: #776e65;
	background-color: #faf8ef;
	margin: 0;
	padding: 0;
	height: 100vh;
}

header{
	display: block;
	margin: 0 auto;
	width:500px;
	text-align:center;
}

header h1{
	font-family: Arial;
	font-size: 60px;
	font-weight: bold;
}

header .button{
	display: block;
	margin: 20px auto;

	width: 100px;
	padding: 10px;
	background-color: #8f7a66;

	font-family: Arial;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

header .button:hover{
	background-color: #9f8b77
}

canvas {
	display: block;
	margin:50px auto;
	box-shadow: -2px -2px 2px #EFEFEF , 5px 5px 5px #B9B9B9;
}
