*{
	font-family: 'VT323', monospace;
}

body{
	color: #776e65;
	background-color: #faf8ef;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.heading{
	padding: 0px;
	text-align: center;
}

.title{
	font-weight: bold;
	display: inline-block;
	font-size: 72px;
	margin: 0px;
}

.game-intro{
	margin: 0px auto 60px;
	padding-top: 20px;
	width:400px;
	text-align:center;
	font-size: small;
}

#newgamebutton{
	display: block;
	float: right;
	margin: 0 20px;
	width: 100px;
	padding: 10px;
	background-color: #8f7a66;
	text-align:center;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

#newgamebutton:hover{
	background-color: #9f8b77
}

#nextgamebutton{
	display: block;
	float: right;
	width: 100px;
	padding: 10px;
	background-color: #8f7a66;
	text-align:center;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

#nextgamebutton:hover{
	background-color: #9f8b77
}

#upgamebutton{
	display: block;
	float: right;
	width: 100px;
	padding: 10px;
	background-color: #8f7a66;
	text-align:center;
	font-family: Arial;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

#upgamebutton:hover{
	background-color: #9f8b77
}

canvas {
	display: block;
	margin:50px auto;
	box-shadow: -2px -2px 2px #EFEFEF , 5px 5px 5px #B9B9B9;
}
